{% extends 'main/home.html' %}
{% load static %}

{% block content %}



<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>
<body>
    <div id="product-detail">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <p>Ціна: {{ product.cost }} ₴</p>
            <p>Категорія: {{ product.category }}</p>
            <p>Опис товару: {{ product.description }}</p>
            <button id="make-order-btn" type="button">Make Order</button>
            <script>
            document.getElementById('make-order-btn').addEventListener('click', function(event) {
                {% if user.is_authenticated %}
                    //Додати функціонал корзини
                {% else %}
                    event.preventDefault();
                    window.location.href = "{% url 'login' %}";
                {% endif %}
            });
            </script>
        </div>
    </div>
</body>
{% endblock %}
